:root {
  /* Paleta principal */
  /*
        Primary para elementos destacados como botones principales y encabezados
        Secondary para botones secundarios y elementos de navegación
        accent para notificaciones, badges o elementos que necesiten máxima atención
        Diferenciar visualmente los grupos, proyectos y tareas con variaciones sutiles de la paleta
  */
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --secondary: #8b5cf6;
  --accent: #ec4899;
  --background: #f8fafc;
  --surface: #ffffff;
  --text: #1e293b;
  --text-light: #64748b;
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;

  /* Sombras */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  --transition: all 0.3s ease;
  --border-radius: 8px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: var(--primary);
  font-size: 2.5em;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 3rem;
  background: var(--surface);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
}

.form-container:hover {
  box-shadow: var(--shadow-lg);
}

.form-container p {
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text);
}

input {
  width: 100%;
  height: 2.8rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  transition: var(--transition);
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.2);
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0;
}

.btn {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

a {
  color: var(--primary);
  text-decoration: none;
}
