.task-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Más ancho */

  max-height: 80vh;
}

@media (max-width: 768px) {
  .task-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
