.task-details,
.project-details {
  display: flex;
  flex-direction: column;
}

.task-details-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.detail-label {
  width: 120px;
  font-weight: 600;
  color: var(--text-light);
}

.detail-value {
  flex: 1;
  justify-content: flex-end;
}

.task-title {
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0.5rem;
}

.task-description {
  font-size: var(--font-size-base);
  color: var(--text-light);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task-description-full {
  line-height: 1.5;
  margin-top: 0.5rem;
}

.task-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-light);
}

.task-meta p {
  font-size: 0.9rem;
}

/*

    Comentarios

*/

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listComments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 0 1rem;
  margin: auto;

  width: 90%;
  max-height: 300px;
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-comment {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  width: 90%;
  align-self: center;
}

.comment-details {
  background: var(--gray-100);
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 0.1rem;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}

.comment-content {
  padding: 0.5rem;
  font-size: var(--font-size-base);
}

.comment-meta {
  font-size: var(--font-size-sm);
  align-self: flex-end;
}
