.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--gray-100);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;

  border-left: 4px solid var(--primary);
}

.user-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
