.auth-layout {
  background: var(--bg);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.form-container {
  width: 100%;
  max-width: 40rem;
  height: 100%;
  margin: auto;
  padding: 3rem;
  border: var(--border);
  border-radius: var(--radius);
  background: var(--bg-card);
  box-shadow: var(--shadow);
}

.form-container h2 {
  color: var(--primary);
  font-size: 2.5em;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.form-container p {
  text-align: center;
}
