.card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
  padding: 2.5rem;
  border-radius: var(--radius);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 420px) {
  .card {
    width: 15rem;
  }
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
  border-radius: var(--radius) var(--radius) 0 0;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card:hover {
    transform: none;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  }
}
.card.expanded {
  position: absolute;
  z-index: 10;
  width: calc(100% - 2rem);
  left: 1rem;
  box-shadow: var(--shadow-lg);
  transform-origin: center top;
  animation: expandCard 0.3s ease forwards;
}

@media (max-width: 420px) {
  .card.expanded {
    position: relative;
    box-shadow: var(--shadow-lg);
    animation: none;

    width: 15rem;
    left: 0;
  }
}

.card h3 {
  color: var(--gray-800);
  margin-bottom: 1rem;
  font-size: 1.5rem; /* Más grande */
  font-weight: 600;
}

@keyframes expandCard {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card-placeholder {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}

.card .template-hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}

.card.expanded .template-hide {
  max-height: 300px;
  opacity: 1;
  margin-top: 1rem;
}

.card.expanded .template-hide {
  max-height: 300px;
  opacity: 1;
  margin-top: 1rem;
}

.card .description {
  color: var(--text);
  line-height: 1.5;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
