.task-table tr {
  border-bottom: 1px solid var(--border); /* Un separador sutil */
  transition: background-color var(--transition);
}

.task-table tr:last-child {
  border-bottom: none;
}

.task-table tr:hover {
  background-color: var(--gray-800);
}

.task-table td {
  padding: 1rem 1.5rem;
  font-size: 0.95rem;
}

.task-table td:nth-child(2) {
  color: var(--text);
}

.task-table tr td:first-child {
  font-weight: 500;
}

.status-pill {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.status-todo {
  color: var(--warning);
}

.status-in-progress {
  color: var(--secondary);
}

.status-done {
  color: var(--success);
}
