.task-card {
  background: var(--bg-card-light);
  border-radius: var(--radius);
  padding: 15px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 0.3s;
  list-style: none;

  touch-action: none;
  user-select: none;
}

.task-card.todo {
  border-left: 5px solid var(--primary);
}

.task-card.in-progress {
  border-left: 5px solid var(--warning);
}

.task-card.done {
  border-left: 5px solid var(--success);
}

.task-card:hover {
  background: var(--gray-100);
  box-shadow: var(--shadow-lg);
  transform: translateX(5px);
  transition: all 0.3s;
}

.task-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.task-card-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0.5rem;
}

@media (max-width: 420px) {
  .task-title {
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
  }
}

.task-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
}

@media (max-width: 420px) {
  .task-date {
    font-size: 0.8em;
  }
}

.task-card-hide {
  display: none;
}

.task-state {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  text-wrap: nowrap;
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius);
  font-size: 0.75rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .task-state {
    display: none;
  }
}

.task-state p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-state.todo {
  background-color: var(--primary);
  color: white;
}

.task-state.in-progress {
  background-color: var(--warning);
  color: white;
}

.task-state.done {
  background-color: var(--success);
  color: white;
}
