/* =====================
   LIST
===================== */

.listUser {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: auto;

  max-width: 80%;
  max-height: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
}

.listUser li {
  background: var(--bg);
  padding: 1rem;
  border-radius: var(--radius);
  transition: all 0.2s ease;
}

.listUser li:hover {
  background: var(--gray-300);
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}

.listuser p {
  margin-right: 1rem;
}

.listUser p:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.listProject {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-column: 1 / -1;
  gap: 1rem;
  margin: auto;
  padding: 1rem;

  max-width: 80%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
}

.project-item,
.task-item {
  padding: 0.8rem;
  background: var(--bg);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s;
  border-left: 4px solid var(--primary);
}

.project-item:hover {
  background: var(--gray-300);
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}

.project-item.active {
  background: var(--primary);
  color: white;
  border-left: 4px solid var(--accent);
}

.project-item.active:hover {
  background: var(--secondary);
  color: white;
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}

.task-project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
  padding: 0.2rem;
  margin: auto;
  max-width: 90%;
  max-height: 300px;
  list-style: none;
}

.task-card-project {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  transition: all 0.3s ease;
}

.task-card-project:hover {
  box-shadow: var(--shadow);
  transform: translateY(-2px);
}
