/* =====================
   LIST
===================== */

.listUser {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: auto;

  max-width: 80%;
  max-height: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
}

.listUser li {
  background: var(--bg);
  padding: 1rem;
  border-radius: var(--radius);
  transition: all 0.2s ease;
}

.listUser li:hover {
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}

.listuser p {
  margin-right: 1rem;
}

.listUser p:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.task-item {
  padding: 0.8rem;
  background: var(--bg);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s;
  border-left: 4px solid var(--primary);
}

.task-project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
  padding: 0.2rem;
  margin: auto;
  max-width: 90%;
  max-height: 300px;
  list-style: none;
}

.task-card-project {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  transition: all 0.3s ease;
}

.task-card-project:hover {
  box-shadow: var(--shadow);
  transform: translateY(-2px);
}
