.task-filters-container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: var(--radius);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

  width: 40%;
  height: 50px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.task-filters-container:hover {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.task-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.select-filter {
  height: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .task-filters-container {
    width: 80%;
  }
}
