.card-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, 220px);
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, 220px);
    gap: 1rem;
  }
}

@media (max-width: 453px) {
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
