.coment-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.3rem;
  margin: auto;
  max-width: 80%;
  max-height: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
