:root {
  /* Paleta principal */
  /*
        Primary para elementos destacados como botones principales y encabezados
        Secondary para botones secundarios y elementos de navegación
        accent para notificaciones, badges o elementos que necesiten máxima atención
        Diferenciar visualmente los grupos, proyectos y tareas con variaciones sutiles de la paleta
  */
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --secondary: #8b5cf6;
  --accent: #ec4899;
  --background: #f8fafc;
  --surface: #ffffff;
  --text: #1e293b;
  --text-light: #64748b;
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;

  /* Sombras */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  --transition: all 0.3s ease;
  --border-radius: 8px;
}
