.dashboard-layout {
  min-width: 1000px;
  margin-left: 5rem;
}

.dashboard-layout section {
  display: flex;
  flex-direction: column;
}

.partSections {
  background: var(--surface);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.partSections li {
  list-style: none;
}

#inicioSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 columna */
  gap: 1rem;
}

#inicioSection h2 {
  grid-column: 1 / -1; /* El título ocupa todo el ancho */
}

#taskSection,
#chatSection {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

#taskSection h2,
#chatSection h2 {
  grid-column: 1 / -1;
}
