.sidebar_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
  transition: all var(--transition);
}

.sidebar_item_icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar_element.active svg {
  color: white;
}

.sidebar-container.is-collapsed .sidebar_item_icon {
  width: 2em;
  height: 1.2em;
  font-size: 1.5rem;
}

.sidebar_item_text {
  white-space: nowrap;
  transition: opacity var(--transition);
}

.sidebar_element.active .sidebar_item_text {
  color: var(--text);
}

.sidebar-container.is-collapsed .sidebar_item_text {
  display: none;
}

.sidebar_link {
  display: flex;
  gap: 1rem;
}
