.user-options-container {
  position: absolute;
  width: 200px;
  padding: 0.8rem;

  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.user-options-container button {
  width: 60px;
  height: 34px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Oculta el checkbox original */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* El "track" o fondo del switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Color cuando está apagado */
  transition: 0.4s; /* Transición suave */
  border-radius: 34px; /* Para hacerlo redondo */
}

/* El círculo deslizante (el "thumb") */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Cuando el input está checked (activado) */
.switch input:checked + .slider {
  background-color: #2196f3; /* Color cuando está encendido (azul) */
}

/* Mueve el círculo cuando está checked */
.switch input:checked + .slider::before {
  transform: translateX(26px); /* Mueve el círculo a la derecha */
}
