.comment-details {
  background: var(--gray-100);
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 0.1rem;

  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}

.comment-content {
  padding: 0.5rem;
  font-size: 1.1em;
}

.comment-meta {
  font-size: 0.8em;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  padding: 0.1rem;
}
