/* =====================
   LIST
===================== */

.listUser {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: auto;

  max-width: 80%;
  max-height: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
}

.listProject {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-column: 1 / -1;
  gap: 1rem;
  margin: auto;
  padding: 1rem;

  max-width: 80%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
}

.project-item {
  padding: 0.8rem;
  background: var(--bg);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s;
  border-left: 4px solid var(--primary);
}

.project-item:hover {
  background: var(--gray-300);
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}

.project-item.active {
  background: var(--primary);
  color: white;
  border-left: 4px solid var(--accent);
}

.project-item.active:hover {
  background: var(--secondary);
  color: white;
  transform: translateX(5px);
  box-shadow: var(--shadow-sm);
}
