.task-column {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
  border-radius: var(--radius);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

@media (max-width: 768px) {
  .task-column {
    flex: 0 0 400px;
  }
}

@media (max-width: 420px) {
  .task-column {
    flex: 0 0 350px;
  }
}

.task-column:hover {
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
}

.column-header {
  border-bottom: 2px solid var(--gray-100);
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-quantity.todo {
  background-color: var(--blue-100);
}

.list-task {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;

  list-style: none;
}
